<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="punchout_form" method="post" action="https://openapi.alipaydev.com/gateway.do?timestamp=2019-12-18+23%3A22%3A45&app_id=2016101600698733&method=alipay.trade.page.pay&charset=utf-8&format=json&version=1.0&sign_type=RSA2&sign=Rhe%2BTxGxPVc4b8MMfOz%2FxgPm4OHQQWx7CfSEdSpkSOWatUshCua211U43KBcGa5NN71xogzGPPIsHXLN9dosUx53luMe%2B%2FDs8YYLHS1ed9rghGVlr8UGwJGOCDurmWvZQN%2BXdnRTLWV8Iy5DNoPO%2FICJmUS4E6jAwOeJr8QNUNlnobY9eZxJjQld5dCCye39GyrtVfN%2FLerBDHkPVIH7Ynig7BApqAG0GpHdUX4YDSS%2FYexVNPIGLXR3VIQl3oRW9Yo4Il0hD9V3QsS1UQiTQoExdArI7%2ByxDkYQdVvF%2FfBGH9FIQ8Ekky047n2zC4FYqdDgep2J4207FrX8G1kJSw%3D%3D">
<input type="hidden" name="biz_content" value="{&quot;buyer_id&quot;:&quot;2088102177846880&quot;,&quot;out_trade_no&quot;:&quot;20150320010101001&quot;,&quot;subject&quot;:&quot;Iphone6 16G&quot;,&quot;total_amount&quot;:&quot;88.88&quot;}">
<input type="submit" value="立即支付" style="display:none" >
</form>
<script>document.forms[0].submit();</script>
</body>
</html>